.login{
    background-color: antiquewhite;
    margin: auto;
    margin-top: 200px;
    max-width: 500px;
    padding: 50px 150px;
}

.text{
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom-color: #000;
    padding: 5px 10px;
    margin: 0 20px;
    border-radius: 2px;
}

.text:active, .text:focus {
    border-color: #000;
    outline: transparent;
}
.text:hover{
    background-color: thistle;
}