.login{
    background-color: antiquewhite;
    margin: auto;
    margin-top: 200px;
    max-width: 500px;
    padding: 50px;
}

.login>form>.input{
    display: grid;
    gap: 30px;
}


.text{
    background-color: transparent;
    border: 2px solid #000;
    /* padding: 5px 10px; */
    /* margin: 0 20px; */
    border-radius: 2px;
    display: flex;
}

.text:active, .text:focus {
    border-color: #000;
    outline: transparent;
}
.text:hover{
    background-color: thistle;
}

.text>input{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    border: 1px black;
}
.text>i{
    margin: 0;
    padding: 0;
    padding: 10px;
    /* margin-right: 10px; */
}
.text>input:active, .text>input:focus{
    outline: transparent;
}

.submit{
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    margin: 10px auto;
    cursor: pointer;
    padding: 10px 0;
    box-shadow: 0 0 30px -10px;
    background-color: white;
    margin-top: 50px;
}
.submit>input{
    /* background-color: gray; */
    border: none;
    width: 100%;
    background-color: transparent;
}

.submit>i{
    padding: 4px;
    padding-right: 10px;
}